/* Variables */
$game-width: 300px;
$game-height: 300px;
$font: 'Bangers', cursive;

/* Color */
$main-color: red;
$light-color: white;
$light-gray-color: lightgray;
$dark-color: black;

/* options */
$transition: 1s all;
